*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(233, 47%, 7%);

    width: 100vw;
    height: 100vh;
    font-size: 15px;
    
}

.container{
    width: 1080px;
    height: 446px;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}

.text{
    position: absolute;
    left: 0px;
    width:540px;
    height: 100%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px 0 0 8px;;

}    
.text__size{
    padding: 70px;
}

.text__main{
    color:hsl(0, 0%, 100%);
    font-size: 40px;
    
}
.text__a{
    color: hsla(0, 0%, 100%, 0.75);
}

.picture{   
    position: absolute;
    width: 540px;
    right: 0%;
  
    
}
.picture__image{
    position: absolute;
    border-radius: 0 8px 8px 0;
}
.picture__background{ 
    width: 540px;
    height: 446px;
    background-color: hsl(278, 88%, 34%);
    opacity: 0.5; 
    border-radius: 0 8px 8px 0;
}
