*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(233, 47%, 7%);
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    
}

.container{
    width: 1080px;
    height: 446px;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.text{
    width:540px;
    height: 100%;
    background-color: hsl(244, 38%, 16%);
    float: left;

}    

.text__main{
    color:hsl(0, 0%, 100%);
    
}
.picture{
    position: absolute;
    margin-left: 540px;
    
}
.picture__image{
    position: absolute;
  
}
.picture__background{
    position: absolute;
    width: 540px;
    height: 448px;
    background-color: hsl(278, 88%, 34%);
    opacity: 0.5; 
}
